.form{
    height: 650px;
    width: 1000px;
    background-color: #ffffff21;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 20px 35px;

    .topBar{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 80px;
        h1{
            margin: 0;
            padding: 0;
            width: 200px;
        }
        h3{
            margin: 0;
            padding: 0;
            width: 200px;
        }

        .profileContainer{
            position: relative;
            width: fit-content;
            height: fit-content;
            left: 37%;
            top: 10px;
            img{
                width: 50px;
                height: 50px;
                border-radius: 100px;
            }
            input[type='file']{
                display: none;
            }
        }

        
    }

    .beerBrowseInput{
        position: relative;
        background-image: linear-gradient(160deg, #7355a31f, #539cb41f);
        background-color: transparent;
        border: none;
        margin-top: 5px;
        margin-bottom: 10px;
        top: 5px;
        left: 5px;
        font-size: 1.5rem;
        width: 98.75%;
        height: 50px;
        border-radius: 15px;
    }

    .appContainer{
        position: relative;
        width: 100%;
        height: 490px;
        overflow: scroll;
        overflow-x: hidden;
        

        // hide the scrollbar
        ::-webkit-scrollbar{ // Chrome, Safari and Opera
            display: none;
        }
        -ms-overflow-style: none; // IE and Edge
        scrollbar-width: none; // Firefox
        // ------------------

        .beerContainer{
            display: flex;
            flex-direction: row;
            background-image: linear-gradient(160deg, #7355a31f, #539cb41f);
            border-radius: 15px;
            padding: 5px;
            height: 150px;
            margin-top: 20px;
            margin-bottom: 20px;
            .beerImage{
                position: relative;
                width: fit-content;
                height: fit-content;
                width: 150px;
                height: 150px;
                border-radius: 10px;
                overflow: hidden;
                img{
                    position: relative;
                    width: 150px;
                    bottom: 50%;
                }
                input[type='file']{
                    display: none;
                }
            }
            .middleContainer{
                width: 500px;
                max-width: 500px;
                height: 100%;
                margin-left: 10px;
                overflow: hidden;
                h2{
                    margin: 0;
                    text-align: left;
                }
                h4{
                    margin: 0;
                    text-align: left;
                }
                p{
                    margin: 0;
                    text-align: left;
                }
                
            }
            .rightContainer{
                width: 400px;
                max-width: 400px;
                height: 100%;
                overflow: hidden;
                h5{
                    margin: 0;
                    text-align: right;
                }
                p{
                    margin: 0;
                    text-align: right;
                }
            }
        }
    }
}

@media (max-width: 1076px) {
    .form{
        width: 800px;
    }
}
@media (max-width: 877px) {
    .form{
        width: 700px;
        .topBar{
            .profileContainer{
                left: 33%;
            }
        }
    }
}
@media (max-width: 780px) {
    .form{

        padding: 5px 10px;
        width: 350px;

        .topBar{
            height: 50px;
            h1{
                width: 100px;
                font-size: 1.2rem;
            }
            h3{
                width: 150px;
                font-size: 0.8rem;
            }
    
            .profileContainer{
                left: 22%;
                top: 7px;
                img{
                    width: 40px;
                    height: 40px;
                }
            }            
        }
        .appContainer{
            .beerContainer{
                height: 100px;
                .beerImage{
                    width: 50px;
                    height: 100px;
                    border-radius: 10px;
                    overflow: hidden;
                    img{
                        width: 100px;
                        bottom: 50%;
                    }
                }
                .middleContainer{
                    width: 200px;
                    max-width: 200px;
                    overflow: hidden;
                    h2{
                        margin: 0;
                        text-align: left;
                        font-size: 1rem;
                    }
                    h4{
                        margin: 0;
                        text-align: left;
                        font-size: 0.8rem;
                    }
                    p{
                        margin: 0;
                        text-align: left;
                        font-size: 0.7rem;
                    }
                    hr{
                        margin: 2px;
                    }
                    
                }
                .rightContainer{
                    width: 80px;
                    max-width: 80px;
                    overflow: hidden;
                    h5{
                        margin: 0;
                        text-align: right;
                        font-size: 0.8rem;
                    }
                    p{
                        margin: 0;
                        text-align: right;
                        font-size: 0.8rem;
                    }
                }
            }
        }
    }
}